.card {
    margin-bottom: 45.5px;

}

#textTitle {
    font-family: "JetBrains Mono",sans-serif;
}

section {
    background-color: rgb(241, 125, 20);
}

.title {
    color: white;
    margin: 40px 10px;
    font-size: 70px;
}